In [38]:
import mysql.connector

mydb = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = '123654'
)

print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000023509A53AD0>

In [39]:
mycursor = mydb.cursor()

In [40]:
mycursor.execute("USE mydatabase")

In [5]:
mycursor.execute("CREATE TABLE user(id int, name VARCHAR(255), address VARCHAR(255))")

In [6]:
mycursor.execute("ALTER TABLE user DROP COLUMN id")

In [7]:
mycursor.execute("ALTER TABLE user ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY")

In [ ]:
mycursor = mydb.cursor()
sql = "INSERT INTO user (id, name, address) VALUES (%s, %s, %s)"

# Values to be inserted
val = [
    (1, "John", "154"),
    (2, "Peter", "155"),
    (3, "Amy", "156"),
    (4, "Hannah", ""),
    (5, "Michael", "")
]

mycursor.executemany(sql, val)

mydb.commit()

print(f"{mycursor.rowcount} rows were inserted.")

In [26]:
import mysql.connector

# Establish the database connection
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="123654",
    database="mydatabase"
)

mycursor = mydb.cursor()

try:
    # Execute the query
    mycursor.execute("SELECT * FROM user")
    
    # Fetch all results
    myresult = mycursor.fetchall()
    
    # Iterate over the results
    for x in myresult:
        print(x)
except mysql.connector.Error as err:
    print(f"Error: {err}")
finally:
    mycursor.close()
    mydb.close()

('John', '154', 1)
('Peter', '155', 2)
('Amy', '156', 3)
('Hannah', '', 4)
('Michael', '', 5)

In [33]:
mycursor = mydb.cursor()
mycursor.execute("CREATE TABLE products(id int, name VARCHAR(255))")

In [34]:
mycursor = mydb.cursor()
sql = "INSERT INTO products (id, name) VALUES (%s, %s)"

# Values to be inserted
val = [
    (1, "Chocolate Heaven"),
    (2, "Tasty Lemons"),
    (3, "Vanilla Dreams"),
]

mycursor.executemany(sql, val)

mydb.commit()

print(f"{mycursor.rowcount} rows were inserted.")

3 rows were inserted.

In [35]:
import mysql.connector

# Establish the database connection
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="123654",
    database="mydatabase"
)

mycursor = mydb.cursor()

try:
    # Execute the query
    mycursor.execute("SELECT * FROM products")
    
    # Fetch all results
    myresult = mycursor.fetchall()
    
    # Iterate over the results
    for x in myresult:
        print(x)
except mysql.connector.Error as err:
    print(f"Error: {err}")
finally:
    mycursor.close()
    mydb.close()

(1, 'Chocolate Heaven')
(2, 'Tasty Lemons')
(3, 'Vanilla Dreams')

In [43]:
mycursor = mydb.cursor()
sql1 = "SELECT \
    user.name as user, \
    products.name as favorite\
    from user \
    INNER JOIN products ON user.id = products.id"
mycursor.execute(sql1)
myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('John', 'Chocolate Heaven')
('Peter', 'Tasty Lemons')
('Amy', 'Vanilla Dreams')

In [44]:
# LEFT JOIN

mycursor = mydb.cursor()
sql1 = "SELECT \
    user.name as user, \
    products.name as favorite\
    from user \
    LEFT JOIN products ON user.id = products.id"
mycursor.execute(sql1)
myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('John', 'Chocolate Heaven')
('Peter', 'Tasty Lemons')
('Amy', 'Vanilla Dreams')
('Hannah', None)
('Michael', None)

In [45]:
mycursor = mydb.cursor()
sql1 = "SELECT \
    user.name as user, \
    products.name as favorite\
    from user \
    RIGHT JOIN products ON user.id = products.id"
mycursor.execute(sql1)
myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('John', 'Chocolate Heaven')
('Peter', 'Tasty Lemons')
('Amy', 'Vanilla Dreams')

In [48]:
mycursor = mydb.cursor()
sql1 = """SELECT 
    user.name as user, 
    products.name as favorite
    from user 
    cross JOIN products ON user.id = products.id"""
mycursor.execute(sql1)
myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('John', 'Chocolate Heaven')
('Peter', 'Tasty Lemons')
('Amy', 'Vanilla Dreams')

In [50]:
#Union ->full join
mycursor = mydb.cursor()
sql1 = """SELECT * FROM user 
    LEFT JOIN products ON user.id = products.id
    UNION 
    SELECT * FROM user 
    RIGHT JOIN products ON user.id = products.id"""
mycursor.execute(sql1)
myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('John', '154', 1, 1, 'Chocolate Heaven')
('Peter', '155', 2, 2, 'Tasty Lemons')
('Amy', '156', 3, 3, 'Vanilla Dreams')
('Hannah', '', 4, None, None)
('Michael', '', 5, None, None)