In [37]:
# use database
mycursor.execute("USE mydatabase")

In [ ]:
# deleting Databse
# mycursor.execute("DROP DATABASE IF EXISTS mydatabase")

In [ ]:
#delete table
# mycursor.execute("DROP TABLE IF EXISTS customer")

In [1]:
#connection
# pip install mysql-connector-python
import mysql.connector

mydb = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = '123654'
)

print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001AB0A4B2930>

In [36]:
mycursor = mydb.cursor()

In [3]:
#creating a Database
mycursor.execute("CREATE DATABASE mydatabase")

In [32]:
# Check if Database Exists
mycursor.execute("SHOW DATABASES")
for x in mycursor:
    print(x)

('information_schema',)
('mydatabase',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

In [5]:
# Or you can try to access the database when making the connection

mydb = mysql.connector.connect(
    host = "localhost", 
    user = "root",
    password = "123654", 
    database = "mydatabase"
    )

In [8]:
# Creating a Table

mycursor.execute("CREATE TABLE customer (name VARCHAR(255), address VARCHAR(255))")

In [9]:
# Check if Table Exists 
mycursor.execute("SHOW TABLES")

for x in mycursor:
    print(x)

('customer',)

In [ ]:
# Primary Key
# mycursor.execute("CREATE TABLE customer(id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), address VARCHAR(255))")

In [10]:
# If the table already exists, use the ALTER TABLE keyword:

mycursor.execute("ALTER TABLE customer ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY")

In [11]:
# Insert Into Table
sql = "INSERT INTO customer(name, address) VALUE (%s, %s)"
val = ("Jhon", "Highwat 21")
mycursor.execute(sql, val)

mydb.commit() # Notice the statement: mydb.commit(). It is required to make the changes, otherwise no changes are made to the table.

print(mycursor.rowcount, "record inserted.")

1 record inserted.

In [12]:
# Insert Multiple Rows
# To insert multiple rows into a table, use the executemany() method

sql = "INSERT INTO customer (name, address) VALUES (%s, %s)"
val = [
    ('Kamala', "Lowstreet 4"),
    ("Any", "Apple st 654"),
    ("Michael", "Valley 345"),
    ("Sandy", "Ocean blvd 2"),
    ("Rajesh", "Sky st 331"),
    ("Susan", "Yellow Garden 2"),
    ("Chuck", "Central st 954"),
    ("Lucky", "Main Road 989")
]
mycursor.executemany(sql, val)

mydb.commit()
print(mycursor.rowcount, "was Inserted")

8 was Inserted

In [13]:
# Get Inserted ID
# Insert one row, and return the ID:
sql = "INSERT INTO customer (name, address) VALUES (%s, %s)"
val = ("Michelle", "Blue Village")
mycursor.execute(sql, val)
print("1 record inserted, ID:",mycursor.lastrowid)

1 record inserted, ID: 10

In [14]:
# Select From a Table
mycursor.execute("SELECT * FROM customer")
myresult = mycursor.fetchall() #fetchall() method, which fetches all rows from the last executed statement.

for x in myresult:
    print(x)

('Jhon', 'Highwat 21', 1)
('Kamala', 'Lowstreet 4', 2)
('Any', 'Apple st 654', 3)
('Michael', 'Valley 345', 4)
('Sandy', 'Ocean blvd 2', 5)
('Rajesh', 'Sky st 331', 6)
('Susan', 'Yellow Garden 2', 7)
('Chuck', 'Central st 954', 8)
('Lucky', 'Main Road 989', 9)
('Michelle', 'Blue Village', 10)

In [15]:
# Selecting Columns
mycursor.execute("SELECT  name, address FROM customer")

myresult = mycursor.fetchall()
for x in myresult:
    print(x)

('Jhon', 'Highwat 21')
('Kamala', 'Lowstreet 4')
('Any', 'Apple st 654')
('Michael', 'Valley 345')
('Sandy', 'Ocean blvd 2')
('Rajesh', 'Sky st 331')
('Susan', 'Yellow Garden 2')
('Chuck', 'Central st 954')
('Lucky', 'Main Road 989')
('Michelle', 'Blue Village')

In [33]:
# Using the fetchone() Method
# only interested in one row, you can use the fetchone() method
mycursor.execute("SELECT * FROM customer")
myresult = mycursor.fetchone()

print(myresult)

('Jhon', 'Highwat 21', 1)

In [31]:
# Select With a Filter
# When selecting records from a table, you can filter the selection by using the "WHERE" statement
import mysql.connector

# Establish the database connection
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="123654",
    database="mydatabase"
)

mycursor = mydb.cursor()
mycursor.execute("SHOW FULL PROCESSLIST")
mycursor.fetchall()

    # Execute your query
mycursor.execute("SELECT * FROM customer WHERE name = 'Kamala'")
myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('Kamala', 'Lowstreet 4', 2)

In [34]:
# Wildcard Characters
# Use the %  to represent wildcard characters

mycursor = mydb.cursor()
sql = "SELECT * FROM customer WHERE address LIKE '%blvd%'"
mycursor.execute(sql)
myresult = mycursor.fetchall()
for x in myresult:
    print(x)

InternalError: Unread result found

In [34]:
# Prevent SQL Injection
# When query values are provided by the user, you should escape the values.
# Escape query values by using the placholder %s method:


sql1 = "Select * from customer where address = %s"
adr = ("Yellow Garden 2", )

mycursor.execute(sql1, adr)

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('Susan', 'Yellow Garden 2', 7)

In [35]:
sql2 = "SELECT * FROM customer order by name"

mycursor.execute(sql2)

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('Any', 'Apple st 654', 3)
('Chuck', 'Central st 954', 8)
('Jhon', 'Highwat 21', 1)
('Kamala', 'Lowstreet 4', 2)
('Lucky', 'Main Road 989', 9)
('Michael', 'Valley 345', 4)
('Rajesh', 'Sky st 331', 6)
('Sandy', 'Ocean blvd 2', 5)
('Susan', 'Yellow Garden 2', 7)

In [40]:
# ORDER BY DESC

mycursor = mydb.cursor()

sql3 = "SELECT * FROM customer ORDER BY name DESC"

mycursor.execute(sql3)
myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('Susan', 'Yellow Garden 2', 7)
('Sandy', 'Ocean blvd 2', 5)
('Rajesh', 'Sky st 331', 6)
('Michael', 'Valley 345', 4)
('Lucky', 'Main Road 989', 9)
('Kamala', 'Lowstreet 4', 2)
('Jhon', 'Highwat 21', 1)
('Chuck', 'Central st 954', 8)
('Any', 'Apple st 654', 3)

In [ ]:
# Delete Record
# You can delete records from an existing table by using the "DELETE FROM" statement:
# mycursor = mydb.cursor()
# sql = "DELETE FROM customers WHERE address = 'Mountain 21'"

# mycursor.execute(sql)
# mydb.commit()

# print(mycursor.rowcount, "record(s) deleted")
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="123654",
  database="mydatabase"
)

mycursor = mydb.cursor()

sql = "DELETE FROM customer WHERE address = 'Highwat 21'"

mycursor.execute(sql)

mydb.commit()

print(mycursor.rowcount, "record(s) deleted")

In [ ]:
# Prevent SQL Injection
mycursor = mydb.cursor()

sql = "DELETE from customers where address = %s"
adr = ('Apple st 654',)

mycursor.execute(sql, adr)

mydb.commit()

print(mycursor.rowcount, "record(s) deleted")

In [ ]:
# Delete a Table

# You can delete an existing table by using the "DROP TABLE" statement:

mycursor = mydb.cursor()

sql = "Drop table customers"

mycursor.execute(sql)

In [ ]:
# Drop Only  if Exist 

mycursor = mydb.cursor()

sql = "DROP TABLE IF EXISTS customers"

mycursor.execute(sql)

In [ ]:
# Update table 
mycursor = mydb.cursor()

sql = "UPDATE FROM customer set name = 'kamala' where name = 'Kalyani'"
mycursor.execute(sql)

mydb.commit()

print(mycursor.rowcount,"recod(s) affected")

In [45]:
# Prevent SQL Injection

# mycursor.execute("UPDATE customer SET address = 'Yellow Garden 2' WHERE address = 'Yellow Garden 3'")
# mydb.commit()
import mysql.connector

# Establish the database connection
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="123654",
    database="mydatabase"
)

mycursor = mydb.cursor()

try:
    # Execute the update query
    mycursor.execute("UPDATE customer SET address = 'Yellow Garden 2' WHERE address = 'Yellow Garden 3'")
    
    # Commit the changes to the database
    mydb.commit()

    print(f"Number of rows affected: {mycursor.rowcount}")
except mysql.connector.Error as err:
    print(f"Error: {err}")
finally:
    mycursor.close()
    mydb.close()

Error: 1205 (HY000): Lock wait timeout exceeded; try restarting transaction

In [52]:
# MySQL Limit
mycursor = mydb.cursor()
mycursor.execute("SELECT * FROM customer LIMIT 5")
myval = mycursor.fetchall()
for x in myval:
    print(x)

('Jhon', 'Highwat 21', 1)
('Kamala', 'Lowstreet 4', 2)
('Any', 'Apple st 654', 3)
('Michael', 'Valley 345', 4)
('Sandy', 'Ocean blvd 2', 5)

In [53]:
# Start From Another Position
mycursor = mydb.cursor()
mycursor.execute("SELECT * FROM customer LIMIT 5 OFFSET 1")

myresult = mycursor.fetchall()
for x in myresult:
    print(x)

('Kamala', 'Lowstreet 4', 2)
('Any', 'Apple st 654', 3)
('Michael', 'Valley 345', 4)
('Sandy', 'Ocean blvd 2', 5)
('Rajesh', 'Sky st 331', 6)

In [ ]:
# Python MySQL Join
# Table1: users
    # { id: 1, name: 'John', fav: 154},
    # { id: 2, name: 'Peter', fav: 154},
    # { id: 3, name: 'Amy', fav: 155},
    # { id: 4, name: 'Hannah', fav:},
    # { id: 5, name: 'Michael', fav:}
#Table2: products
    # { id: 154, name: 'Chocolate Heaven' },
    # { id: 155, name: 'Tasty Lemons' },
    # { id: 156, name: 'Vanilla Dreams' }
mycursor = mydb.cursor()

sql = "SELECT \
    users.name as user, \
    products.name as favorite \
    FROM users \
    INNER JOIN products ON users.fav = products.id"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
    print(x)