# MySQL Database

In [ ]:
# use database
mycursor.execute("USE mydatabase")

In [29]:
#deleting Databse
mycursor.execute("DROP DATABASE IF EXISTS mydatabase")

In [ ]:
#delete table
# mycursor.execute("DROP TABLE IF EXISTS customer")

In [3]:
import mysql.connector

mydb = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = '123654'
)

print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000002C3B003D250>

In [4]:
mycursor = mydb.cursor()

In [8]:
# Creating a Database


mydb = mysql.connector.connect(
    host = 'localhost',
    user='root', 
    password = '123654'
    )

mycursor = mydb.cursor()
mycursor.execute("CREATE DATABASE mydatabase")

In [3]:
# Check if Database Exists
mycursor.execute("SHOW DATABASES")
for x in mycursor:
    print(x)

('information_schema',)
('mydatabase',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

In [7]:
# Or you can try to access the database when making the connection

mydb = mysql.connector.connect(
    host = "localhost", 
    user = "root",
    password = "123654", 
    database = "mydatabase"
    )

In [27]:
# Creating a Table

mycursor.execute("CREATE TABLE customer (name VARCHAR(255), address VARCHAR(255))")

ProgrammingError: 1050 (42S01): Table 'customer' already exists

In [9]:
# Check if Table Exists 
mycursor.execute("SHOW TABLES")

for x in mycursor:
    print(x)

('customer',)

In [ ]:
# Primary Key
# mycursor.execute("CREATE TABLE customer(id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), address VARCHAR(255))")

In [25]:
# If the table already exists, use the ALTER TABLE keyword:

# mycursor.execute("ALTER TABLE customer ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY")

In [14]:
# Insert Into Table
sql = "INSERT INTO customer(name, address) VALUE (%s, %s)"
val = ("Jhon", "Highwat 21")
mycursor.execute(sql, val)

mydb.commit() # Notice the statement: mydb.commit(). It is required to make the changes, otherwise no changes are made to the table.

print(mycursor.rowcount, "record inserted.")

1 record inserted.

In [15]:
# Insert Multiple Rows
# To insert multiple rows into a table, use the executemany() method

sql = "INSERT INTO customer (name, address) VALUES (%s, %s)"
val = [
    ('Kamala', "Lowstreet 4"),
    ("Any", "Apple st 654"),
    ("Michael", "Valley 345"),
    ("Sandy", "Ocean blvd 2"),
    ("Rajesh", "Sky st 331"),
    ("Susan", "Yellow Garden 2"),
    ("Chuck", "Central st 954"),
    ("Lucky", "Main Road 989")
]
mycursor.executemany(sql, val)

mydb.commit()
print(mycursor.rowcount, "was Inserted")

8 was Inserted

In [16]:
# Get Inserted ID
# Insert one row, and return the ID:

import mysql.connector 


sql = "INSERT INTO customer (name, address) VALUES (%s, %s)"
val = ("Michelle", "Blue Village")
mycursor.execute(sql, val)
print("1 record inserted, ID:",mycursor.lastrowid)

1 record inserted, ID: 0

In [20]:
# Select From a Table
mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM customer")
myresult = mycursor.fetchall() #fetchall() method, which fetches all rows from the last executed statement.


for x in myresult:
    print(x)

('Jhon', 'Highwat 21')
('Kamala', 'Lowstreet 4')
('Any', 'Apple st 654')
('Michael', 'Valley 345')
('Sandy', 'Ocean blvd 2')
('Rajesh', 'Sky st 331')
('Susan', 'Yellow Garden 2')
('Chuck', 'Central st 954')
('Lucky', 'Main Road 989')

In [18]:
# Selecting Columns
mycursor.execute("SELECT  name, address FROM customer")

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('Jhon', 'Highwat 21')
('Kamala', 'Lowstreet 4')
('Any', 'Apple st 654')
('Michael', 'Valley 345')
('Sandy', 'Ocean blvd 2')
('Rajesh', 'Sky st 331')
('Susan', 'Yellow Garden 2')
('Chuck', 'Central st 954')
('Lucky', 'Main Road 989')
('Michelle', 'Blue Village')

In [24]:
# Using the fetchone() Method
# only interested in one row, you can use the fetchone() method

mycursor.execute("SELECT * FROM customer")
myresult = mycursor.fetchone()

print(myresult)

InternalError: Unread result found

In [22]:
# Select With a Filter
# When selecting records from a table, you can filter the selection by using the "WHERE" statement

mycursor.execute("SELECT * FROM customer WHERE name = 'Kamala'")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

InternalError: Unread result found

In [23]:
# Wildcard Characters
# Use the %  to represent wildcard characters

mycursor = mydb.cursor()
sql = "SELECT * FROM customer WHERE address LIKE '%blvd%'"
mycursor.execute(sql)
myresult = mycursor.fetchall()
for x in myresult:
    print(x)

#

InternalError: Unread result found

In [18]:
# Prevent SQL Injection
# When query values are provided by the user, you should escape the values.
# Escape query values by using the placholder %s method:


sql = "Select * from customer where address = %s"
adr = ("Yellow Garden 2", )

mycursor.execute(sql, adr)

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('Susan', 'Yellow Garden 2')

In [17]:
# Sort the Result 
# ORDER BY statement to sort the result in ascending or descending order.
sql = "SELECT * FROM customer order by name"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('Any', 'Apple st 654')
('Chuck', 'Central st 954')
('Jhon', 'Highwat 21')
('Kamala', 'Lowstreet 4')
('Lucky', 'Main Road 989')
('Michael', 'Valley 345')
('Rajesh', 'Sky st 331')
('Sandy', 'Ocean blvd 2')
('Susan', 'Yellow Garden 2')

In [25]:
# ORDER BY DESC

mycursor = mydb.cursor()

sql = "SELECT * FROM customer ORDER BY name DESC"

mycursor.execute(sql)
myresult = mycursor.fetchall()

for x in myresult:
    print(x)

InternalError: Unread result found

In [ ]:
# Delete Record
# You can delete records from an existing table by using the "DELETE FROM" statement:
# mycursor = mydb.cursor()
# sql = "DELETE FROM customers WHERE address = 'Mountain 21'"

# mycursor.execute(sql)
# mydb.commit()

# print(mycursor.rowcount, "record(s) deleted")
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="123654",
  database="mydatabase"
)

mycursor = mydb.cursor()

sql = "DELETE FROM customers WHERE address = 'Highwat 21'"

mycursor.execute(sql)

mydb.commit()

print(mycursor.rowcount, "record(s) deleted")

2 record(s) deleted

In [ ]:
# Prevent SQL Injection
mycursor = mydb.cursor()

sql = "DELETE from customers where address = %s"
adr = ('Apple st 654',)

mycursor.execute(sql, adr)

mydb.commit()

print(mycursor.rowcount, "record(s) deleted")

0 record(s) deleted

In [ ]:
# Delete a Table

# You can delete an existing table by using the "DROP TABLE" statement:

mycursor = mydb.cursor()

sql = "Drop table customers"

mycursor.execute(sql)

In [ ]:
# Drop Only  if Exist 

mycursor = mydb.cursor()

sql = "DROP TABLE IF EXISTS customers"

mycursor.execute(sql)

In [16]:
# Update table 
mycursor = mydb.cursor()

sql = "UPDATE FROM customer set name = 'kamala' where name = 'Kalyani'"
mycursor.execute(sql)

mydb.commit()

print(mycursor.rowcount,"recod(s) affected")

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'FROM customer set name = 'kamala' where name = 'Kalyani'' at line 1